* {
	margin: 0;
}

body {
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

nav {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a {
	background: #02badd;
	padding: 5px;
	color: white;
	text-decoration: none;
}

#output {
	overflow: scroll;
	white-space:nowrap;
	border-collapse: collapse;
	margin-bottom: 3em;
}

#output th, #output td{
	border: solid 1px #02badd;
}

#output th {
	color: white;
	background: #02badd;
	border-top: #02badd;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#fixed {
	position: fixed;
	bottom: 0;
	height: 3em;
	width: 100%;
	background: #c6e6ee;
	color:white;
}