<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/admin_main.css">
	<title>Sign in</title>
</head>
<body>
	<main>
		<h2>Application for admin</h2>
		<div class="parent parent01">
		  <a class="child childnew" href="http://{{serverhost}}/admin/latest"><p class="p_red">New!</p></a>
		  <a class="child childwatch" href="http://{{serverhost}}/admin/watch"><p>Watch</p></a>
		  <a class="child childanlysis" href="http://{{serverhost}}/admin/analysis"><p>Analysis</p></a>
		  <a class="child childregister" href="http://{{serverhost}}/admin/register?status=first"><p>Register</p></a>
		</div>
		<div class="parent parent02">
		  <a class="child childshow" href="https://www.yahoo.co.jp/"><p>Message</p></a>
		  <a class="child childweather" href="https://weathernews.jp/onebox/area/JAPAN.html"><p>Weather</p></a>
		  <a class="child child2" href=https://wwp.shizuoka.ac.jp/ichinose/><p>Help</p></a>
		  <a class="child childlogout" href="http://{{serverhost}}/admin"><p>Logout</p></a>
		</div>
	</main>
</body>
