<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/admin_main.css">
	<title>Sign in</title>
</head>
<body>
	<main>
		<h2>Application for admin</h2>
		<div class="parent parent01">
		  <a class="child childnew" href="http://{{serverhost}}/admin/latest"><p class="p_red">New!</p></a>
		  <a class="child child1" href="http://{{serverhost}}/admin/watch"><p>Watch</p></a>
		  <a class="child " href="https://www.yahoo.co.jp/"><p>新規登録</p></a>
		  <a class="child " href="https://www.yahoo.co.jp/"><p>解析</p></a>
		</div>
		<div class="parent parent02">
		  <a class="child " href="https://www.yahoo.co.jp/"><p>連絡</p></a>
		  <a class="child child2" href=https://wwp.shizuoka.ac.jp/ichinose/><p>土屋智央</p></a>
		  <div class="child"></div>
		  <div class="child"></div>
		</div>
	</main>
</body>
