<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport"
      content="width=device-width,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=1.0,
      user-scalable=yes" />
    <meta charset="utf-8">
    <title>formsample</title>
    <link rel="stylesheet" type="text/css" href="../static/css/adminlogin.css">
</head>
<body>
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form class="login-container" action="http://{{serverhost}}:{{serverport}}/adminwindow" method="post">
    <p><input type="text" placeholder="Username" name="user"></p>
    <p><input type="password" placeholder="Password" name="pass"></p>
    <p><input type="submit" value="Log in"></p>
  </form>
</div>
</body>